.LogoSearch{
    display: flex;
    gap: 0.75rem;
}
.LogoSearch:hover ,.search>input:hover{
    cursor: pointer;
}
.search{
    width: 100%;
    /* float:right; */
    display: flex;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 8px 12px;
}
.input-search1{
    width: 100%;
}


.search>input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 230px;
}
.search>.input-search1{
    width: 100%;
}
.s-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(106.23deg , #f99827 , #f95f35 100%);
    border-radius: 5px;
    padding: 4px;
    color: white;
}

.s-icon:hover{
    cursor: pointer;
}

.card-post-search{
    border-radius: 7px;
    padding: 5px;
    margin-top: 7px;
    display: inline-block ; 
}

.card-post-search:hover{
    background-color: rgb(229, 228, 228);
} 
.card-post-search .post-search{
    display: flex;
    float: left;
    justify-content: space-between; 
}   
.card-post-search .post-search .image-post-search{
    width: 100px;
    height: 60px;
    border-radius: 15px;
}
.detail-post-search{
    padding:10px;
    width: 290px;
}
.detail-post-search .desc-post{
    font-weight: bold;
    font-size: 13px;

}   

.detail-post-search .createTime-post{
    font-size: 11px;
}
.btn-view-post-search{
    padding:11px;
    margin-right: 45px;
}

h2#scroll-dialog-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
